<section data-ng-controller="ExpensesController">
    <div class="page-header">
        <h1>New Expense</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="addExpense()" novalidate>
            <fieldset>
                <div class="form-group">
                    <ul>Period: <input ui-date="{dateFormat: 'MM-yy'}" ng-model="expense1.period" /></ul>
                    <ul>Date: <input ui-date="{ dateFormat: 'dd-mm-yy' }" ng-model="expense1.date" /></ul>
                    <ul>Description: <input ng-model="expense1.description" /></ul>
                    <ul>Amount: <input ng-model="expense1.amount" only-digits/></ul>
                    <ul>Claimable: <input type="checkbox" ng-model="expense1.claimable" /></ul>
                    <!--<label class="control-label" for="name">Name</label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>-->
                    <!--</div>-->
                </div>
                <button type="button" class="btn btn-default btn-xs" ng-click="updateExpense()">{{saveLabel}}</button>

                <div class="form-group">
                    <table ng-table="tableParams" class="table">
                        <tr ng-repeat="expenseEntry in expenses1" track by $index>
                            <td data-title="'Date'" sortable="date">
                                {{expenseEntry.date | date : "dd/MM/yyyy"}}
                            </td>
                            <td data-title="'Description'" sortable="description">
                                {{expenseEntry.description}}
                            </td>
                            <td data-title="'Amount'" sortable="amount">
                                {{expenseEntry.amount}}
                            </td>
                            <td data-title="'Claimable'" sortable="amount">
                                {{expenseEntry.claimable}}
                            </td>
                            <td>
                                <a class="btn btn-primary" data-ng-click="editExpense($index);">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary" data-ng-click="removeExpense($index);">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
