<section data-ng-controller="OrganisationsController">
    <div class="page-header">
        <h1>New Organisation</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        <input type="text" data-ng-model="companyNumber" id="companyNumber" class="form-control" placeholder="CompanyNumber" required>
                        <input type="text" data-ng-model="vatNumber" id="vatNumber" class="form-control" placeholder="VATNumber" required>
                        <input type="text" data-ng-model="address.addressLine1" id="addressLine1" class="form-control" placeholder="AddressLine1" required>
                        <input type="text" data-ng-model="address.addressLine2" id="addressLine2" class="form-control" placeholder="AddressLine2" required>
                        <input type="text" data-ng-model="address.city" id="city" class="form-control" placeholder="city" required>
                        <input type="text" data-ng-model="address.country" id="country" class="form-control" placeholder="country" required>
                        <input type="text" data-ng-model="address.postCode" id="postCode" class="form-control" placeholder="postCode" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
