<section data-ng-controller="OrganisationsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Organisation</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="organisation.name" id="name" class="form-control" placeholder="Name" required>
                        <input type="text" data-ng-model="organisation.companyNumber" id="companyNumber" class="form-control" placeholder="Company Number" required>
                        <input type="text" data-ng-model="organisation.vatNumber" id="vatNumber" class="form-control" placeholder="VAT Number" required>
                        <input type="text" data-ng-model="organisation.address.addressLine1" id="addressLine1" class="form-control" placeholder="AddressLine1" required>
                        <input type="text" data-ng-model="organisation.address.addressLine2" id="addressLine2" class="form-control" placeholder="AddressLine2" required>
                        <input type="text" data-ng-model="organisation.address.city" id="city" class="form-control" placeholder="city" required>
                        <input type="text" data-ng-model="organisation.address.country" id="country" class="form-control" placeholder="country" required>
                        <input type="text" data-ng-model="organisation.address.postCode" id="postCode" class="form-control" placeholder="postCode" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
